Flask==2.3.3
requests==2.32.3
pandas==2.3.3
numpy==2.3.4
plotly==5.22.0
python-dotenv==1.0.1
git+https://github.com/twelve-data/twelve-data-python.git

Flask
pandas
plotly

requests

flask
gunicorn
requests
pandas
numpy
ta
flask
gunicorn
requests
pandas
yfinance
