body {
    background: #f4f4f5;
    font-family: "Segoe UI", sans-serif;
    color: #111;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px;
    font-size: 2rem;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.card {
    width: 250px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    color: #fff;
    font-size: 1.2rem;
}

.card h2 {
    margin: 0;
    font-size: 1.4rem;
}

.card p {
    margin: 8px 0;
}

.card .sinal {
    font-size: 1.5rem;
    font-weight: bold;
}

.card.error {
    background: #9ca3af;
}

.chart {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto 50px auto;
    border-radius: 10px;
    background: #fff;
    padding: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}
